.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery > * {
    flex: 1;
    flex-basis: 300px;
    position: relative;
    overflow: hidden;
}

.shuffle {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    opacity: .9;
    font-size: .7rem;
    background-color: black;
    color: white;
    z-index: 1;
    height: auto;
}

.shuffle button {
    padding: 15px 20px;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: white;
    border: none;
}